.pitch_btn_box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 30px 0 0 0;
    text-align: center;
}

.pitch_screen{
    width: 100%;
    background-color: white;
    border: 3px solid black;
    min-height: 300px;
    font-size: 75px;
    text-align: center;
    font-weight: bold;
    display: block;
}