.app-container {
  display: flex;
  height: 100vh;
  background-color: #f0ece5; /* 전체 화면 포근한 배경톤 */
  padding: 20px; /* 화면 가장자리 여백 */
  box-sizing: border-box;
}

/* 메인 콘텐츠 */
.main-content {
  flex: 1;
  width: 70%;
  background-color: #fffaf5; /* 포근한 베이지/아이보리톤 */
  padding: 30px;
  border-radius: 16px; /* 뭉툭하게 둥글게 */
  margin-left: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08); /* 살짝 그림자 */
  color: #333;

  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.main-content:hover {
  box-shadow: 0 0px 10px rgba(0,0,0,0.12);
}

/* 사이드바 */
.sidebar {
  background-color: black;
  height: 100%;
  border-radius: 12px; /* 약간 둥글게 */
  border-right: 1px solid #e4dfd9;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  position: fixed;
  left: -200px;
  width:220px;
  z-index: 1;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.12);
  opacity: 0.7;

  transition: left 0.5s;
}

.sidebar.on{
  left: 10px; 
}

.sidebar:hover {
  box-shadow: 0 8px 10px rgba(0,0,0,0.12);
  opacity: 0.8;
}

.side_menu{
  font-size: 20px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
  color: #ddd;
}

.side_menu:hover{
  text-shadow: 0px 0px 2px #eee;
}

.btn_box{
  margin-left: 100px;
}

.btn{
  background: #eee;
  padding: 20px; 
  border-radius: 8px;
  border : 0px solid #333;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-weight: bold;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  vertical-align: middle;
}

.btn:hover{
  background: #aaa;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

.floatL{
  float: left;
}