.title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    
}

.screen{
    width: 80%;
    background-color: white;
    border: 3px solid black;
    min-height: 300px;
    margin: 0 10%;
    display: none;
    grid-template-columns: repeat(4, 1fr);
}

.answer_screen{
    width: 80%;
    background-color: white;
    border: 3px solid black;
    min-height: 300px;
    margin: 0 10%;
    display: none;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 30px;
}

.answer{
    font-size: 150px;
    text-align: center;
    font-weight: bold;
}

.word{
    font-size: 150px;
    padding: 10px 0 0 150px;
    font-weight: bold;
}

.word_btn_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 30px 0 0 0;
    text-align: center;
}

.word_btn{
  background: #eee;
  padding: 20px; 
  border-radius: 8px;
  border : 0px solid #333;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-weight: bold;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  vertical-align: middle;
}

.word_btn:hover{
  background: #aaa;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

.screen_on{
    display: grid;
}