.picture_screen{
    background: #eee;
    text-align: center;
    border-radius: 8px;
    width :30%;
    margin: 0 35%;
    aspect-ratio: 1 / 1.2;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.picture_name{
    font-size: 40px;
    font-weight: bold;
}

.picture_img img{
    margin: 40px 0;
    width: 80%;
}