.picture_screen{
    background: #eee;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.picture_name{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

.picture_img img{
    margin: 20px 0;
    width: 60%;
}