.round{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
}

.deck {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: 100%;

}

.card {
    background: #eee;
    text-align: center;
    border-radius: 8px;
    width :100%;
    aspect-ratio: 1 / 1; /* 가로 : 세로 = 1:1 */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transform: scale(0.7);
    transition: transform 0.2s ease;

}

.card:hover{
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.4);
}

.card-image img{
    width: 80%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 12px;
}

.card-name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 8px;
}

.team-list, .level-list {
    margin-top: 40px;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.level-list {
    margin-top: 40px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.team, .level {
    background: #eee;
    padding: 20px; 
    text-align: center;
    border-radius: 8px;
    height: 20px;
    /* border : 3px solid #333; */
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.team:hover, .level:hover {
    background: #aaa;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.team.selected, .card.selected, .level.selected{
    background: black;
    opacity: 0.7;
    color: white;
}
.team.selected:hover, .card.selected:hover, .level.selected:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.action{
    transform: scale(1);
    opacity: 1;
}